<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="To provide help for any dayli house, garden and shopping tasks">
    <meta name="keywords" content="human care, cooking, shopping, moving, gardening, pet sitting, pet walking">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/43dcc20e7a.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <div class="container-fluid" id="main-container">
        <div class="d-flex justify-content-end header_div bg-dark bg-gradient rounded text-white ps-3 pe-3"
            id="nav_div">
            <div class="logo mt-auto mb-auto"><img src="../img/logo-removebg-preview.png" alt="Logo"></div>
            <div class="align-self-center">
                <header>
                    <nav class="navBar">
                        <ul class="navBar_items ">
                            <li class="navBar_item first"><a href="../index.html">Home</a></li>
                            <li class="navBar_item second"><a href="../index.html#services">Services</a></li>
                            <li class="navBar_item third"><a href="../index.html#contact">Contact</a></li>
                        </ul>
                        <button class="burger">
                            <span class="bar"></span>
                        </button>
                    </nav>
                </header>
            </div>
        </div>
        <main>
            <section id="services">
                <div class="header_main row mb-5 text-center m-5 d-flex justify-content-center">
                    <h1>Pet Walking</h1>
                    <p>Short presentation of the service.
                    </p>
                    <div class="search-box d-flex justify-content-center">
                        <input type="text" class="search-input" placeholder="Search..">
                        <button class="btn btn-secondary search-button">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>

                </div>

                <div class="card card-container p-0 text-center rounded">
                    <img class="banner rounded" src="../img/pet_walking.png" alt="pet sitting image">
                    <div>
                        <div class="carousel-caption text-start">
                            <h2><strong>Pet Walking</strong></h2>
                        </div>
                    </div>
                </div>

                <div class="marketing pt-5">
                    <hr class="featurette-divider p-3">

                    <div class="row featurette m-3">
                        <div class="d-flex flex-column align-items-center col-md-7">
                            <h2 class="featurette-heading fw-normal lh-1">Why you should choose us </h2>
                            <p>We also offer a pet sitting service, our young people are willing to walk your pets.</p>

                            <div class="d-flex justify-content-center row col-md-12 pt-5 pb-5">
                                <div class="col-md-5 p-5">
                                    <img class="logo-CB  rounded" src="../img/logo-CB.png" alt=" logo CB">
                                </div>
                                <div class="text-center col-md-5 my-auto p-1">
                                    <h2 class="featurette-heading fw-normal lh-1">Price</h2>
                                    <p class="lead">1/day : 3€</p>
                                    <p class="lead">2/day : 5€</p>
                                    <p class="lead">3/day : 6€</p>
                                    <p class="lead">The 3 first walks are free</p>
                                </div>
                            </div>
                            <input type="button" value="Purchase Now" class="btn btn-success mb-5">
                        </div>
                        <div class="img col-md-5">
                            <img class="rounded" src="../img/pet_walking.png" alt="pet sitting image">
                        </div>
                    </div>

                    <hr class="featurette-divider p-3">

                </div>

    </div>
    </section>
    </main>

    <footer class="d-flex justify-content-between align-items-center bg-dark bg-gradient rounded text-white pt-3 pb-3">
        <div class="total">
            <div class="terms">
                <h5>Privacy and Terms</h5>
                <nav>
                    <ul>
                        <li>
                            <a class="btn btn-light" href="terms_and_conditions.html">Terms and Conditions</a>
                        </li>
                        <li>
                            <a class="btn btn-light" href="privacy_policy.html">Privacy Policy</a>
                        </li>
                        <li>
                            <a class="btn btn-light" href="legal_notices.html">Legal Notices</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="social">
                <h5>Social media</h5>
                <ul class="wrapper">

                    <a href="https://www.facebook.com/profile.php?id=100089966918286" target="_blank">
                        <li class="icon facebook">
                            <span class="tooltip">Facebook</span>
                            <span><i class="fab fa-facebook-f"></i></span>
                        </li>
                    </a>
                </ul>
            </div>

            <div class="feed">
                <h5>Facebook Feed</h5>
                <iframe
                    src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3Dpfbid022NhxzymEPDZooCuo1njzBio1EYyjFoU5cUQzq7nJ8xfLPiesGonfm91m8uhUU7uRl%26id%3D100089966918286&width=350&show_text=false&height=233&appId"
                    width="350" height="233" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                    allowfullscreen="true"
                    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </div>
            <a class="toTop_anchor" href="#main-container" title="Go Home"><i class="fas fa-chevron-up"></i></a>
        </div>
    </footer>


    </div>

    <script src="../js/script.js"></script>
</body>

</html>