<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="To provide help for any dayli house, garden and shopping tasks">
    <meta name="keywords" content="human care, cooking, shopping, moving, gardening, pet sitting, pet walking">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/43dcc20e7a.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <div class="container-fluid" id="main-container">
        <div class="d-flex justify-content-end header_div bg-dark bg-gradient rounded text-white ps-3 pe-3"
            id="nav_div">
            <div class="logo mt-auto mb-auto"><img src="../img/logo-removebg-preview.png" alt="Logo"></div>
            <div class="align-self-center">
                <header>
                    <nav class="navBar">
                        <ul class="navBar_items ">
                            <li class="navBar_item first"><a href="../index.html">Home</a></li>
                            <li class="navBar_item second"><a href="../index.html#services">Services</a></li>
                            <li class="navBar_item third"><a href="../index.html#contact">Contact</a></li>
                        </ul>
                        <button class="burger">
                            <span class="bar"></span>
                        </button>
                    </nav>
                </header>
            </div>
        </div>
        <main>
            <section id="services">
                <div class="header_main row mb-5 text-center m-5 d-flex justify-content-center">
                    <h1><strong>Household</strong> </h1>
                    <p>Short presentation of the service.
                    </p>
                    <div class="search-box d-flex justify-content-center">
                        <input type="text" class="search-input" placeholder="Search..">
                        <button class="btn btn-secondary search-button">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>

                </div>
                <div class="card card-container pb-0 text-center mb-5">
                    <div class="row mb-3 justify-content-center">
                        <div class="col-md-4 pb-5">
                            <div class="cards card" id="mealtime">
                                <div class="card-img-top">
                                    <img src="../img/house_keeping.png" alt="Autonomy Logo">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title"><strong>House-Keeping</strong></h5>
                                    <p class="card-text">Short presentation of the service.
                                    </p>
                                </div>
                                    <a href="detail_house_keeping.html" class="btn btn-sm btn-primary col-mb-3 mb-3">Learn more</a>
                            </div>
                        </div>
                        <div class="col-md-4 pb-5">
                            <div class="cards card" id="accompaniments">
                                <div class="card-img-top">
                                    <img src="../img/moving-image.png" alt="moving image">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title"><strong>Moving Home</strong></h5>
                                    <p class="card-text">Short presentation of the service.
                                    </p>
                                </div>
                                    <a href="detail_moving.html" class="btn btn-sm btn-primary col-mb-3 mb-3">Learn more</a>
                            </div>
                        </div>
                        <div class="col-md-4 pb-5">
                            <div class="cards card" id="gardening">
                                <div class="card-img-top">
                                    <img src="../img/zone_vert.png" alt="Autonomy Logo">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title"><strong>Maintenance of green spaces</strong></h5>
                                    <p class="card-text">Short presentation of the service.
                                    </p>
                                </div>
                                    <a href="detail_green_spaces.html" class="btn btn-sm btn-primary col-mb-3 mb-3">Learn more</a>
                            </div>
                        </div>
                        <div class="col-md-4 pb-5">
                            <div class="cards card" id="household">
                                <div class="card-img-top">
                                    <img src="../img/shopping.webp" alt="Autonomy Logo">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title"><strong>Shopping</strong></h5>
                                    <p class="card-text">Short presentation of the service.
                                    </p>
                                </div>
                                    <a href="detail_shopping.html" class="btn btn-sm btn-primary col-mb-3 mb-3">Learn more</a>
                            </div>
                        </div>
                        <div class="col-md-4 pb-5">
                            <div class="cards card" id="cookink">
                                <div class="card-img-top">
                                    <img src="../img/cook.png" alt="cooking image">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title"><strong>Cooking</strong></h5>
                                    <p class="card-text">Short presentation of the service.
                                    </p>
                                </div>
                                    <a href="detail_cooking.html" class="btn btn-sm btn-primary col-mb-3 mb-3">Learn more</a>
                            </div>
                        </div>
                        <div class="col-md-4 pb-5">
                            <div class="cards card" id="homeSitting">
                                <div class="card-img-top">
                                    <img src="../img/homesitting-2.webp" alt="Home-Sitting image">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title"><strong>Home-Sitting</strong></h5>
                                    <p class="card-text">Always have a busy schedule ?
                                        <strong><em>JDC Services</em></strong> is made up of young people whose interest
                                        is to ensure the safety and well-being of your home, your children or your pets.
                                    </p>
                                </div>
                                <a href="#" class="btn btn-sm btn-primary col-mb-3 mb-3">Learn more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer
            class="d-flex justify-content-between align-items-center bg-dark bg-gradient rounded text-white pt-3 pb-3">
            <div class="total">
                <div class="terms">
                    <h5>Privacy and Terms</h5>
                    <nav>
                        <ul>
                            <li>
                                <a class="btn btn-light" href="terms_and_conditions.html">Terms and Conditions</a>
                            </li>
                            <li>
                                <a class="btn btn-light" href="privacy_policy.html">Privacy Policy</a>
                            </li>
                            <li>
                                <a class="btn btn-light" href="legal_notices.html">Legal Notices</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="social">
                    <h5>Social media</h5>
                    <ul class="wrapper">
                        <a href="https://www.facebook.com/profile.php?id=100089966918286" target="_blank">
                            <li class="icon facebook">
                                <span class="tooltip">Facebook</span>
                                <span><i class="fab fa-facebook-f"></i></span>
                            </li>
                        </a>
                    </ul>
                </div>

                <div class="feed">
                    <h5>Facebook Feed</h5>
                    <iframe
                        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3Dpfbid022NhxzymEPDZooCuo1njzBio1EYyjFoU5cUQzq7nJ8xfLPiesGonfm91m8uhUU7uRl%26id%3D100089966918286&width=350&show_text=false&height=233&appId"
                        width="350" height="233" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                        allowfullscreen="true"
                        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                </div>
                <a class="toTop_anchor" href="#main-container" title="Go Home"><i class="fas fa-chevron-up"></i></a>
            </div>
        </footer>


    </div>

    <script src="js/script.js"></script>
</body>

</html>