<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="To provide help for any dayli house, garden and shopping tasks">
    <meta name="keywords" content="human care, cooking, shopping, moving, gardening, pet sitting, pet walking">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/43dcc20e7a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="container-fluid" id="main-container">
        <div class="d-flex justify-content-end header_div bg-dark bg-gradient rounded text-white ps-3 pe-3"
            id="nav_div">
            <div class="logo mt-auto mb-auto"><img src="../img/logo-removebg-preview.png" alt="Logo"></div>
            <div class="align-self-center">
                <header>
                    <nav class="navBar">
                        <ul class="navBar_items ">
                            <li class="navBar_item first"><a href="../index.html">Home</a></li>
                            <li class="navBar_item second"><a href="../index.html#services">Services</a></li>
                            <li class="navBar_item third"><a href="../index.html#contact">Contact</a></li>
                        </ul>
                        <button class="burger">
                            <span class="bar"></span>
                        </button>
                    </nav>
                </header>
            </div>
        </div>
        <main>
            <section>
                <div class="card row text-center pt-3 pb-3 m-5 ms-1 me-1 d-flex justify-content-center">
                    <h1>Legal Notices</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor orci arcu, a tristique
                        lectus vehicula et. Suspendisse sit amet sem et dolor condimentum ultrices. Quisque et pulvinar
                        quam. Vestibulum venenatis ante nec pellentesque auctor. Etiam laoreet, velit vel molestie
                        elementum, diam sapien sodales orci, eu condimentum libero enim at lacus. Nullam cursus molestie
                        lectus. Nam neque tortor, vulputate eget magna eu, sollicitudin tristique massa. Sed in
                        consectetur dui. Vestibulum at lectus leo. Maecenas ultricies consequat odio nec pulvinar.
                        Vestibulum ipsum sem, cursus at suscipit ac, interdum ut magna. Maecenas sit amet diam et erat
                        commodo rhoncus. Donec eu eros libero. Nam lacinia orci tortor, non lacinia neque hendrerit sit
                        amet.</p>
                </div>
            </section>
        </main>
        <footer
            class="d-flex justify-content-between align-items-center bg-dark bg-gradient rounded text-white pt-3 pb-3">
            <div class="total">
                <div class="terms">
                    <h5>Privacy and Terms</h5>
                    <nav>
                        <ul>
                            <li>
                                <a class="btn btn-light" href="terms_and_conditions.html">Terms and Conditions</a>
                            </li>
                            <li>
                                <a class="btn btn-light" href="privacy_policy.html">Privacy Policy</a>
                            </li>
                            <li>
                                <a class="btn btn-light" href="legal_notices.html">Legal Notices</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="social">
                    <h5>Social media</h5>
                    <ul class="wrapper">

                        <a href="https://www.facebook.com/profile.php?id=100089966918286" target="_blank">
                            <li class="icon facebook">
                                <span class="tooltip">Facebook</span>
                                <span><i class="fab fa-facebook-f"></i></span>
                            </li>
                        </a>
                    </ul>
                </div>

                <div class="feed">
                    <h5>Facebook Feed</h5>
                    <iframe
                        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3Dpfbid022NhxzymEPDZooCuo1njzBio1EYyjFoU5cUQzq7nJ8xfLPiesGonfm91m8uhUU7uRl%26id%3D100089966918286&width=350&show_text=false&height=233&appId"
                        width="350" height="233" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                        allowfullscreen="true"
                        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                </div>
                <a class="toTop_anchor" href="#main-container" title="Go Home"><i class="fas fa-chevron-up"></i></a>
            </div>
        </footer>


    </div>

    <script src="js/script.js"></script>
</body>

</html>