<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="To provide help for any dayli house, garden and shopping tasks">
    <meta name="keywords" content="human care, cooking, shopping, moving, gardening, pet sitting, pet walking">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/43dcc20e7a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="container-fluid" id="main-container">
        <div class="d-flex justify-content-end header_div bg-dark bg-gradient rounded text-white ps-3 pe-3"
            id="nav_div">
            <div class="logo mt-auto mb-auto"><img src="../img/logo-removebg-preview.png" alt="Logo"></div>
            <div class="align-self-center">
                <header>
                    <nav class="navBar">
                        <ul class="navBar_items ">
                            <li class="navBar_item first"><a href="../index.html">Home</a></li>
                            <li class="navBar_item second"><a href="../index.html#services">Services</a></li>
                            <li class="navBar_item third"><a href="../index.html#contact">Contact</a></li>
                        </ul>
                        <button class="burger">
                            <span class="bar"></span>
                        </button>
                    </nav>
                </header>
            </div>
        </div>
        <main>
            <section>
                <div class="card row text-center pt-3 pb-3 m-5 ms-1 me-1 d-flex justify-content-center">
                    <h1>JDC Services business policy:</h1>
                    <p>Our company is dedicated to being an integral part of our youth in the working world. Our slogan
                        "Live with a light heart" represents the relief of your worries. Thanks to our motivated,
                        conscious and dynamic young people, we are able to offer you support and assistance for any type
                        of need in your daily life.
                        JDC Services is aware of the many difficulties that are present in the life of an elderly
                        person.
                        Our team is aware of the abilities of people in the 15-25 age group, which is why we work
                        towards their professional integration.
                        We work together with the Mission Locale Sémaphore and the Pôle Emploi du Haut-Rhin.
                        Our motivation over the years comes from the fact that having noticed various forms of
                        mistreatment of our seniors, we could no longer tolerate it. We therefore had the idea to
                        develop our company based on various services to the person.

                        Translated with www.DeepL.com/Translator (free version)</p>
                </div>
            </section>
        </main>

        <footer
            class="d-flex justify-content-between align-items-center bg-dark bg-gradient rounded text-white pt-3 pb-3">
            <div class="total">
                <div class="terms">
                    <h5>Privacy and Terms</h5>
                    <nav>
                        <ul>
                            <li>
                                <a class="btn btn-light" href="terms_and_conditions.html">Terms and Conditions</a>
                            </li>
                            <li>
                                <a class="btn btn-light" href="privacy_policy.html">Privacy Policy</a>
                            </li>
                            <li>
                                <a class="btn btn-light" href="legal_notices.html">Legal Notices</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="social">
                    <h5>Social media</h5>
                    <ul class="wrapper">

                        <a href="https://www.facebook.com/profile.php?id=100089966918286" target="_blank">
                            <li class="icon facebook">
                                <span class="tooltip">Facebook</span>
                                <span><i class="fab fa-facebook-f"></i></span>
                            </li>
                        </a>
                    </ul>
                </div>

                <div class="feed">
                    <h5>Facebook Feed</h5>
                    <iframe
                        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3Dpfbid022NhxzymEPDZooCuo1njzBio1EYyjFoU5cUQzq7nJ8xfLPiesGonfm91m8uhUU7uRl%26id%3D100089966918286&width=350&show_text=false&height=233&appId"
                        width="350" height="233" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                        allowfullscreen="true"
                        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                </div>
                <a class="toTop_anchor" href="#main-container" title="Go Home"><i class="fas fa-chevron-up"></i></a>
            </div>
        </footer>


    </div>

    <script src="js/script.js"></script>
</body>

</html>