

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --burger-color: white;
    --navbar-color: white;
}
body {
    font-family: 'Poppins', sans-serif;
}

/* #main-container {
    width: 100vw
} */

.navBar a {
    text-decoration: none;
}
#nav_div {
    height: 5rem;
}
/* Navbar */
.navBar {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 65px; */
    width: 100%;
    padding: 10px;
    color: var(--navbar-color);
}

.navBar_items {
    display: flex;
    padding: 1rem;

}

.navBar_item {
    margin: 0 0.5rem;
    list-style: none;
    position: relative;
}


.navBar_item a {
    color: var(--navbar-color);
}

.navBar_item>a::after {
    display: block;
    position: absolute;
    content: "";
    width: 0;
    /* bottom: 20px; */
    height: 1px;
    background: var(--navbar-color);
    transition: width .4s;
}

.navBar_item:hover>a::after {
    width: 100%;
}


.logo {
    margin-right: auto;
}

.burger {
    display: none;
}

.bar {
    background: white;
}


h1, h2, h3, h4, h5, h6{
    font-family: 'Libre Franklin', sans-serif;
}

header ul {
    list-style: none;
}

header li {
    margin-right: 2rem;
    margin-top: .5rem;
}

.cstm-height-card .card-img-top {
    height: 100px;
    object-fit: cover;
}

.card-img-top svg {
    height: 10rem;
}


/*
   ** Category ** 
*/

.CategoryTop
{
    text-align: center;
}

/* .card-img-top>svg {
    height: 10rem;
} */

#autonomy .card-img-top {
    background: #92be20;
}


#accompaniments .card-img-top {
    background: #29cde8;
}

#administrative .card-img-top {
    background: #f9ae03;
}

#mealtime .card-img-top {
    background: #ef7e03;
}

#household .card-img-top {
    background: #ff9bbf;
}

#message {
    resize: none;
}
/********************************************* Footer ********************************/

/* *:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
} */

footer {
  position: relative;
  bottom: 0px;
  /* display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px 0px; */
  /* background: rgb(0, 0, 15); */
  border-top: aliceblue 5px solid;
}

.total{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
}

footer p {
  color: aliceblue;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.terms{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.terms ul {
    padding: 0;
    margin: 0;
}
footer nav ul li {
    margin: 9px;
    list-style-type: none;
    text-align: center;
}

footer nav ul li a{
    /* padding: 3px; */
    /* background-color: white;
    border: 1 solid white;
    border-radius: 3px; */
    text-decoration: none;
}

footer .btn {
    color: rgb(68, 68, 68)
}

footer .btn:hover{
    color: black;
    font-weight: 400;
}

footer .btn:hover:active{
    color: black;
    font-weight: 500;
    /* transform: translateX(1px) translateY(1px); */
}

.wrapper {
    display: flex;
    padding: 0;
  /* justify-content: center;
  align-items: center;
  padding-bottom: 40px; */
}


.wrapper .icon {
  position: relative;
  background: aliceblue;
  color: rgb(0, 0, 15);
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: aliceblue;
  color: aliceblue;
  font-family: "Poppins", sans-serif;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: aliceblue;
  top: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: 60px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background: #0077b5;
  color: aliceblue;
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #4267b2;
  color: aliceblue;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: aliceblue;
}

.logo-CB{
    height: auto;
    width: 500px;
}

.banner{
    height: 300px;
    width: 100%;
    object-fit: cover;
}
/********************************************Média Query*****************************************/
/* Small device */
@media screen and (max-width:768px) {

    .navBar {
        justify-content: space-between;
        z-index: 61;
    }

    .navBar_items {
        padding-top: 5rem;
        display: flex;
        flex-direction: column;
        width: 0;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 200%;
        /* transform: translateX(-100%); */
        background: #000;
        /* background:  linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0)); */
        transition: all .5s ease-in-out;
        z-index: 60;
    }

    .show-nav .navBar_items {
        width: 100%;
        left: 0;
    }

    .navBar_item:hover>a::after {
        width: 25%;
    }
    
    

    .navBar_item {
        transform: translateX(100%);
    }

    .show-nav .navBar_item {
        transform: translateX(0);
    }

    .navBar_item>a {
        display: block;
        padding: 1rem;
        font-size: 1.6rem;
        transition: all .4s ease-in-out;
        color: var(--burger-color);
    }

    .navBar_item>a::after {
        background: var(--burger-color);
    }

    .navBar_item>a:hover {
        padding-left: 2rem;
        letter-spacing: 5px;
    }

    /* toggle menu */
    .burger {
        display: block;
        position: relative;
        padding: 0 ;
        width: 45px;
        height: 45px;
        border: none;
        background: transparent;
        cursor: pointer;
        z-index: 62;
    }

    .logo>img {
        display: block;
        position: relative;
        z-index: 63;
    }

    .bar {
        display: block;
        width: 45px;
        height: 4px;
        /* background: var(--burger-color); */
        border-radius: 3px;
        transition: all .5s ease-in-out;
    }

    .show-nav .bar {
        width: 0;
        background: transparent;
    }

    .bar::before,
    .bar::after {
        content: "";
        width: 45px;
        height: 4px;
        position: absolute;
        left: 0;
        background: white;
        border-radius: 3px;
        transition: all .5s ease-in-out;
    }

    .bar::before {
        transform: translateY(-12px);
    }

    .bar::after {
        transform: translateY(12px);
    }

    .show-nav .bar::before {
        transform: rotate(45deg);
    }

    .show-nav .bar::after {
        transform: rotate(-45deg);
    }

    /* bonus animation */
    .show-nav .first {
        transition: all 1s ease-in-out;
    }

    .show-nav .second {
        transition: all 1.1s ease-in-out;
    }

    .show-nav .third {
        transition: all 1.2s ease-in-out;
    }
    .logo-CB{
        height: auto;
        width: 100%;
    }

}


/*
#92be20
#ef7e03
#29cde8
#f9ae03
#ffa7c7
  */