<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:\Users\Stagiaire\OneDrive - Elan Formation\Bureau\exo commer\css\style.css">
    <title>Document</title>
</head>
<body>
    <main>
        <h1>Legal Notices</h1>
        <article>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor orci arcu, a tristique lectus vehicula et. Suspendisse sit amet sem et dolor condimentum ultrices. Quisque et pulvinar quam. Vestibulum venenatis ante nec pellentesque auctor. Etiam laoreet, velit vel molestie elementum, diam sapien sodales orci, eu condimentum libero enim at lacus. Nullam cursus molestie lectus. Nam neque tortor, vulputate eget magna eu, sollicitudin tristique massa. Sed in consectetur dui. Vestibulum at lectus leo. Maecenas ultricies consequat odio nec pulvinar. Vestibulum ipsum sem, cursus at suscipit ac, interdum ut magna. Maecenas sit amet diam et erat commodo rhoncus. Donec eu eros libero. Nam lacinia orci tortor, non lacinia neque hendrerit sit amet.</p>
        </article>
    </main>
    <footer>
        <div class="total">
            <div class="social">
                <p>Social media</p>
                <ul class="wrapper">
                <a href="#" target="_blank">
                    <li class="icon linkedin">
                    <span class="tooltip">LinkedIn</span>
                    <span><i class="fab fa-linkedin"></i></span>
                    </li>
                </a>
                <a href="#" target="_blank">
                    <li class="icon facebook">
                    <span class="tooltip">Facebook</span>
                    <span><i class="fab fa-facebook-f"></i></span>
                    </li>
                </a>
                <a href="#" target="_blank">
                    <li class="icon twitter">
                    <span class="tooltip">Twitter</span>
                    <span><i class="fab fa-twitter"></i></span>
                    </li>
                </a>
                </ul>
            </div>
            <div class="terms">
                <p>Privacy and Terms</p>
                <nav>
                    <ul>
                        <li>
                            <a href="C:\Users\Stagiaire\OneDrive - Elan Formation\Bureau\exo commer\Terms and Conditions.html">Terms and Conditions</a>
                        </li>
                        <li>
                            <a href="C:\Users\Stagiaire\OneDrive - Elan Formation\Bureau\exo commer\Privacy Policy.html">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="C:\Users\Stagiaire\OneDrive - Elan Formation\Bureau\exo commer\Legal Notices.html">Legal Notices</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </footer>
</body>
</html>