<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:\Users\Stagiaire\OneDrive - Elan Formation\Bureau\exo commer\css\style.css">
    <title>Document</title>
</head>
<body>
    <main>
        <h1>Privacy Policy</h1>
        <article>
            <p>In congue nunc ac dolor vulputate aliquam. Nullam mattis purus et luctus consectetur. Vestibulum varius vehicula suscipit. Nulla aliquet dictum arcu quis sagittis. Vestibulum sagittis ex odio, non venenatis sapien dictum sit amet. Suspendisse lobortis nibh augue, sit amet egestas quam semper sed. Proin tincidunt nec lacus sit amet lobortis. In hac habitasse platea dictumst. Mauris neque diam, dictum eu purus quis, placerat imperdiet est. Sed pretium interdum felis et tincidunt. Phasellus sit amet congue mi. Nunc tristique mattis nisl, a blandit odio ornare condimentum. Aenean hendrerit interdum mauris. Quisque accumsan, felis ac convallis imperdiet, ante enim ultricies nisl, ut sollicitudin tortor ex nec tellus. Sed dui elit, vestibulum mattis risus at, porttitor rutrum lorem. In hac habitasse platea dictumst.
                Donec nibh nunc, pulvinar id ligula ut, rhoncus maximus felis. Aenean luctus libero sed scelerisque fermentum. Aenean eleifend massa non nulla convallis eleifend. Nullam faucibus augue non nunc tincidunt, vitae consequat massa ullamcorper. Donec ac mattis dui, eleifend sollicitudin turpis. Mauris et velit justo. Aliquam fringilla, urna laoreet bibendum fermentum, lorem mauris molestie nibh, non aliquam velit quam at quam. Nullam scelerisque tortor quis lorem hendrerit lobortis. Vivamus placerat in quam in euismod. Maecenas sagittis metus vitae lacinia dictum.</p>
        </article>
    </main>
    <footer>
        <div class="total">
            <div class="social">
                <p>Social media</p>
                <ul class="wrapper">
                <a href="#" target="_blank">
                    <li class="icon linkedin">
                    <span class="tooltip">LinkedIn</span>
                    <span><i class="fab fa-linkedin"></i></span>
                    </li>
                </a>
                <a href="#" target="_blank">
                    <li class="icon facebook">
                    <span class="tooltip">Facebook</span>
                    <span><i class="fab fa-facebook-f"></i></span>
                    </li>
                </a>
                <a href="#" target="_blank">
                    <li class="icon twitter">
                    <span class="tooltip">Twitter</span>
                    <span><i class="fab fa-twitter"></i></span>
                    </li>
                </a>
                </ul>
            </div>
            <div class="terms">
                <p>Privacy and Terms</p>
                <nav>
                    <ul>
                        <li>
                            <a href="C:\Users\Stagiaire\OneDrive - Elan Formation\Bureau\exo commer\Terms and Conditions.html">Terms and Conditions</a>
                        </li>
                        <li>
                            <a href="C:\Users\Stagiaire\OneDrive - Elan Formation\Bureau\exo commer\Privacy Policy.html">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="C:\Users\Stagiaire\OneDrive - Elan Formation\Bureau\exo commer\Legal Notices.html">Legal Notices</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </footer>
</body>
</html>