<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/43dcc20e7a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="container-fluid" id="main-container">
        <div class="d-flex justify-content-end header_div bg-dark bg-gradient rounded text-white ps-3 pe-3"
            id="nav_div">
            <div class="logo mt-auto mb-auto"><img src="" alt="Logo"></div>
            <div class="align-self-center">
                <header>
                    <nav class="navBar">
                        <ul class="navBar_items ">
                            <li class="navBar_item first"><a href="../index.html">Home</a></li>
                            <li class="navBar_item second"><a href="../index.html#services">Services</a></li>
                            <li class="navBar_item third"><a href="../index.html#contact">Contact</a></li>
                        </ul>
                        <button class="burger">
                            <span class="bar"></span>
                        </button>
                    </nav>
                </header>
            </div>
        </div>
        <main>
            <article>
                <div class="card row text-center pt-3 pb-3 m-5 ms-1 me-1 d-flex justify-content-center">
                    <h1>Terms and Conditions</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a magna ut risus laoreet placerat
                        sit
                        amet a enim. Phasellus interdum eleifend tortor, eget aliquam ex sollicitudin id. Nulla vitae
                        metus
                        posuere, blandit ex vel, vehicula arcu. Vivamus sollicitudin, tortor eu elementum volutpat, ex
                        orci
                        efficitur sem, vel laoreet velit erat ac urna. Etiam ullamcorper tincidunt massa vel finibus.
                        Morbi
                        dignissim dui a posuere pharetra. Nam at commodo ante. Ut hendrerit tincidunt magna eu
                        malesuada.
                        Phasellus vel posuere elit. Curabitur nec rutrum lectus, eget suscipit odio. Nulla maximus
                        fringilla
                        risus ut imperdiet. Quisque sit amet mauris quis sapien volutpat venenatis. Fusce in odio ut
                        lectus
                        gravida aliquam. Aliquam erat volutpat. Donec ac odio vel velit dignissim sollicitudin id ut
                        erat.
                        Sed vitae congue risus, eu volutpat nisl. Pellentesque eu erat enim. Nulla vestibulum pharetra
                        odio,
                        et tristique felis viverra a. Aenean porttitor rhoncus elit, porta gravida ipsum pharetra vel.
                        Proin
                        tincidunt lobortis leo ac mattis. Maecenas sed euismod tellus. Mauris efficitur augue ut tellus
                        fringilla tempus. Integer sit amet malesuada purus, sed malesuada turpis.
                        Etiam ac nisl non quam lacinia tempor. Aliquam erat volutpat. Praesent sit amet tempus nisl, ac
                        faucibus massa. In nec neque ultricies, tempor risus vitae, molestie tortor. Aenean laoreet elit
                        non
                        massa suscipit, at blandit lacus tristique. Duis eu tellus pharetra, lobortis neque eu, feugiat
                        nisl. Nam egestas in ligula sed vehicula. Sed bibendum augue vitae lorem rutrum, vitae iaculis
                        eros
                        porttitor. Sed ultrices sodales ultricies. Curabitur malesuada dolor ac euismod ornare. Morbi
                        dapibus ullamcorper urna eu fringilla. Donec sodales diam augue, a euismod ipsum cursus sit
                        amet.
                        Suspendisse elementum lobortis purus, a posuere ante tincidunt eget. Vivamus pellentesque, quam
                        non
                        condimentum lobortis, elit justo hendrerit arcu, id posuere arcu libero eget elit. Morbi
                        malesuada
                        ante ante, sit amet semper lacus maximus ut.</p>
                </div>
            </article>
        </main>

        <footer
            class="d-flex justify-content-between align-items-center bg-dark bg-gradient rounded text-white pt-3 pb-3">
            <div class="total">
                <div class="social">
                    <h5>Social media</h5>
                    <ul class="wrapper">

                        <li class="icon linkedin">
                            <span class="tooltip">LinkedIn</span>
                            <span><i class="fab fa-linkedin"></i></span>
                            <a href="#" target="_blank"> </a>
                        </li>
                        <li class="icon facebook">
                            <span class="tooltip">Facebook</span>
                            <span><i class="fab fa-facebook-f"></i></span>
                            <a href="#" target="_blank"> </a>

                        </li>
                        <li class="icon twitter">
                            <span class="tooltip">Twitter</span>
                            <span><i class="fab fa-twitter"></i></span>
                            <a href="#" target="_blank">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="terms">
                    <h5>Privacy and Terms</h5>
                    <nav>
                        <ul>
                            <li>
                                <a class="btn bg-white" href="view/terms_and_conditions.html">Terms and Conditions</a>
                            </li>
                            <li>
                                <a class="btn bg-white" href="view/privacy_policy.html">Privacy Policy</a>
                            </li>
                            <li>
                                <a class="btn bg-white" href="view/legal_notices.html">Legal Notices</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </footer>
    </div>

    <script src="js/script.js"></script>
</body>

</html>